@font-face {
  font-family: 'DFPYuan-W5-PoIn2-BFW';
  src: url('../fonts/DFPYuan-W5-PoIn2-BFW/DFPYuan-W5-PoIn2-BFW.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DFPYuan-W5-PoIn2-BFW/DFPYuan-W5-PoIn2-BFW.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/DFPYuan-W5-PoIn2-BFW/DFPYuan-W5-PoIn2-BFW.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/DFPYuan-W5-PoIn2-BFW/DFPYuan-W5-PoIn2-BFW.woff') format('woff'), /* Modern Browsers */
    url('../fonts/DFPYuan-W5-PoIn2-BFW/DFPYuan-W5-PoIn2-BFW.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/DFPYuan-W5-PoIn2-BFW/DFPYuan-W5-PoIn2-BFW.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DFPYuan-W5-PoIn1-BFW';
  src: url('../fonts/DFPYuan-W5-PoIn1-BFW/DFPYuan-W5-PoIn1-BFW.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DFPYuan-W5-PoIn1-BFW/DFPYuan-W5-PoIn1-BFW.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/DFPYuan-W5-PoIn1-BFW/DFPYuan-W5-PoIn1-BFW.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/DFPYuan-W5-PoIn1-BFW/DFPYuan-W5-PoIn1-BFW.woff') format('woff'), /* Modern Browsers */
    url('../fonts/DFPYuan-W5-PoIn1-BFW/DFPYuan-W5-PoIn1-BFW.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/DFPYuan-W5-PoIn1-BFW/DFPYuan-W5-PoIn1-BFW.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DFPYuan-W5-ZhuIn-BFW';
  src: url('../fonts/DFPYuan-W5-ZhuIn-BFW/DFPYuan-W5-ZhuIn-BFW.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DFPYuan-W5-ZhuIn-BFW/DFPYuan-W5-ZhuIn-BFW.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/DFPYuan-W5-ZhuIn-BFW/DFPYuan-W5-ZhuIn-BFW.woff') format('woff'), /* Modern Browsers */
    url('../fonts/DFPYuan-W5-ZhuIn-BFW/DFPYuan-W5-ZhuIn-BFW.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/DFPYuan-W5-ZhuIn-BFW/DFPYuan-W5-ZhuIn-BFW.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}
/*.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

.font-zhuin{
  /*display: inline-block;*/
  font-family: 'DFPYuan-W5-ZhuIn-BFW';
}

.font-zhuin-poin1{
  font-family: 'DFPYuan-W5-PoIn1-BFW';
}

.font-zhuin-poin2{
  font-family: 'DFPYuan-W5-PoIn2-BFW';
}

.stage{
  width:800px;
  height:600px;
  position: relative;
  margin:auto;
  display: none;
}

.stage-intro{
  background-image:url(../images/01-intro.jpg);
}

.stage-bomb{
  background-image: url(../images/04-background.jpg);
}

.button-intro-enter{  
  cursor:pointer;
  position:absolute;
  left:272px;
  top:500px;
  width:277px;
  height:67px;
}



